name: CodeTest

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: pwd
      - name: Install dependencies
        run: pip install -r ./requirements.txt
      - name: Install dependencies
        run: pytest --nbmake ./*/**ipynb
