name: Python package

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m venv .venv
          source .venv/bin/activate
          python -m pip install --upgrade pip
          pip install pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          ipython kernel install --user --name=llm-sample-env
      - name: Test with pytest
        env:
          AZURE_OPENAI_ENDPOINT: ${{ env.AZURE_OPENAI_ENDPOINT }}
          AZURE_OPENAI_API_KEY: ${{ env.AZURE_OPENAI_API_KEY }}
          AZURE_OPENAI_DAVINCHI_DEPLOYMENT_NAME: ${{ env.AZURE_OPENAI_DAVINCHI_DEPLOYMENT_NAME }}
          AZURE_OPENAI_GPT35_DEPLOYMENT_NAME: ${{ env.AZURE_OPENAI_GPT35_DEPLOYMENT_NAME }}
          AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT_NAME: ${{ env.AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT_NAME }}
        run: |
          echo $AZURE_OPENAI_ENDPOINT
          source .venv/bin/activate
          pytest --nbmake ./*/**ipynb
